html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #c2c2c2;
}

main {
  padding-top: 50px;
  background-color: #231f20;
}

a {
  color: inherit;
  text-decoration: none;
}
p, h1, h2, h3, h4, h5, li {
  color: #c2c2c2;
}

* {
  box-sizing: border-box;
}

